/* Piece images served from Lichess CDN (cburnett set).
   Overrides any bundled relative-URL references. */
.cg-wrap piece.pawn.white   { background-image: url('https://lichess1.org/assets/piece/cburnett/wP.svg'); }
.cg-wrap piece.knight.white { background-image: url('https://lichess1.org/assets/piece/cburnett/wN.svg'); }
.cg-wrap piece.bishop.white { background-image: url('https://lichess1.org/assets/piece/cburnett/wB.svg'); }
.cg-wrap piece.rook.white   { background-image: url('https://lichess1.org/assets/piece/cburnett/wR.svg'); }
.cg-wrap piece.queen.white  { background-image: url('https://lichess1.org/assets/piece/cburnett/wQ.svg'); }
.cg-wrap piece.king.white   { background-image: url('https://lichess1.org/assets/piece/cburnett/wK.svg'); }

.cg-wrap piece.pawn.black   { background-image: url('https://lichess1.org/assets/piece/cburnett/bP.svg'); }
.cg-wrap piece.knight.black { background-image: url('https://lichess1.org/assets/piece/cburnett/bN.svg'); }
.cg-wrap piece.bishop.black { background-image: url('https://lichess1.org/assets/piece/cburnett/bB.svg'); }
.cg-wrap piece.rook.black   { background-image: url('https://lichess1.org/assets/piece/cburnett/bR.svg'); }
.cg-wrap piece.queen.black  { background-image: url('https://lichess1.org/assets/piece/cburnett/bQ.svg'); }
.cg-wrap piece.king.black   { background-image: url('https://lichess1.org/assets/piece/cburnett/bK.svg'); }
